// Transiciones para lr
.lr-enter-active,
.lr-leave-active,
.rl-enter-active,
.rl-leave-active {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out; // Cambié 'transition-behavior' a 'transition-timing-function'
}

// Transiciones para lr
.lr-enter-from {
    transform: translateX(-100%);
}
.lr-leave-to {
    transform: translateX(100%);
}

// Transiciones para rl
.rl-enter-from {
    transform: translateX(100%);
}
.rl-leave-to {
    transform: translateX(-100%);
}

// fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
    /*
    position: absolute;
    top: 0px;
    */
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
